
Study_Csharp/bin/Debug/Study_Csharp.exe

Study_Csharp/bin/Debug/Study_Csharp.pdb

Study_Csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Study_Csharp/obj/Debug/Study_Csharp.csproj.CoreCompileInputs.cache

Study_Csharp/obj/Debug/Study_Csharp.csproj.FileListAbsolute.txt

Study_Csharp/obj/Debug/Study_Csharp.exe

Study_Csharp/obj/Debug/Study_Csharp.pdb

.vs/CsharpHacker/v15/.suo

.vs/Study_Csharp/v15/.suo

.vs/Study_Csharp/v15/Server/sqlite3/db.lock

.vs/Study_Csharp/v15/Server/sqlite3/storage.ide

.vs/Study_Csharp/v15/Server/sqlite3/storage.ide-shm

.vs/Study_Csharp/v15/Server/sqlite3/storage.ide-wal
